@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Beaufort";
  src: url("/fonts/Beaufort-Regular.ttf");
}

body {
  font-family: "Beaufort", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}
